@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --color-primary: 29 78 216
      /* tw blue 700 */
    ;
  }
}

/* This file is for your main application CSS */

@layer components {
  .heading-1 {
    font-family: theme('fontFamily.display');
    font-weight: theme('fontWeight.bold');
    font-size: theme('fontSize.2xl');
    line-height: theme('lineHeight.8');
    letter-spacing: -2.5%;
    overflow-wrap: break-word;
  }

  .heading-2 {
    font-family: theme('fontFamily.display');
    font-weight: theme('fontWeight.bold');
    font-size: theme('fontSize.xl');
    line-height: theme('lineHeight.7');
    letter-spacing: -2.5%;
    overflow-wrap: break-word;
  }

  .subtitle {
    font-family: theme('fontFamily.display');
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.7');
    letter-spacing: -2.5%;
    overflow-wrap: break-word;
  }

  .body {
    font-size: theme('fontSize.base');
    line-height: theme('lineHeight.6');
    overflow-wrap: break-word;
  }

  .notes {
    font-size: theme('fontSize.sm');
    line-height: theme('lineHeight.5');
    overflow-wrap: break-word;
  }
}