<header class="p-10">
  <button type="button" class="mb-10" phx-click={JS.show(to: "#menu")}>
    <.icon name="hero-bars-3" class="w-6 h-6 text-apa-primary" />
  </button>
  <h1 class="heading-1 text-apa-primary">
    Referências
  </h1>
</header>
<main class="px-10 pb-10">
  <ul>
    <li :for={reference <- @references} class="mt-10 first:mt-0">
      <%= raw(Earmark.as_html!(reference, inner_html: true)) %>
    </li>
  </ul>
</main>
