<header class="p-10">
  <button type="button" class="mb-10" phx-click={JS.show(to: "#menu")}>
    <.icon name="hero-bars-3" class="w-6 h-6 text-apa-primary" />
  </button>
  <h1 class="heading-1 text-apa-primary">
    Referências
  </h1>
</header>
<main class="p-10">
  <p class="body">
    TBD
  </p>
</main>
