<.page_header title={@page_title} />
<main class="p-10 pb-20">
  <.container>
    <p class="body">
      Em construção 🚧
    </p>
  </.container>
</main>
<.page_references references={["Em construção 🚧"]} />
